/*********************************************

KTH-Anpassningar för Primo New UI

**********************************************

/*********************************************

Imortera open sans (KTH's huvudfont)
**********************************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/****************************************************

Rättning för iPhone IOS 11 från Ex libris 2017-11-01

*****************************************************/
.md-dialog-container {
    height: 100% !important;
    position: fixed !important;
    top: 0px !important;
  }
  
/*****************************************************

vit bakgrund för hela sidan 

*****************************************************/
primo-explore>div:nth-of-type(1) {
	background-color: #ffffff;
}

/**************************************

Första sidan, innan sökning gjorts

**************************************/
prm-static[section="homepage"] {
	padding: 0;
}

prm-static, prm-static md-card.default-card {
	background-color: #ffffff;
}

/* anpassa luft/marginaler etc*/
prm-search prm-static md-content {
	padding: 0px !important;
}
prm-static md-card {
	margin: 0;
}
prm-static md-card-title {
	padding: 24px 0 16px 0 !important;
}
prm-static md-card-content {
	padding: 0 10px 10px 0 !important;
}

/*****************************************************

Fixa till tomrummen som finns på sidan om
Sidhuvud, sökruta och resultat

******************************************************/

/* se till att skapa tomrummet på varje sida av sidhuvudet och att de tar lika mycket plats */
prm-skip-to, prm-user-area-expandable {
	flex: 1 1 15% !important;
	max-width: 15% !important;
	/*background-color: darksalmon !important;*/
}

/* se till att skapa tomrummet på varje sida av sökrutan och att de tar lika mycket plats */
prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1),
prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4) {
	flex: 1 1 15% !important;
	max-width: 15% !important;
	/*background-color: darksalmon;*/
}

/* se till div för sökrutan tar rätt utrymme */
prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2) {
	flex: 1 1 60% !important;
	max-width: 60% !important;
	padding-right: 10px;
}

/* se till div för advanced search-knappen tar rätt utrymme */
prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3) {
	flex: 1 1 10% !important;
	max-width: 10% !important;
	padding-left: 0px !important;
}

/* se till att tomrummet på varje sida av sökresultat+facetter tar lika mycket plats */
/* även för första sidan innan sökning gjorts */
prm-search>md-content>div:first-of-type,
prm-search>md-content>div:last-of-type,
prm-search>div>md-content>div:first-of-type,
prm-search>div>md-content>div:last-of-type {
	flex: 1 1 15% !important;
	max-width: 15% !important;
	/*background-color: darksalmon !important;*/
}

/* anpassningar till mindre skärmar */
@media (max-width: 1279px) and (min-width: 959px) {
	/* bort med tomrummet på varje sida av sidhuvudet */
	prm-skip-to, prm-user-area-expandable {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}

	/* bort med tomrummet på varje sida av sökrutan */
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1),
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4) {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}

	/* se till div för sökrutan tar rätt utrymme */
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2) {
		flex: 1 1 90% !important;
		max-width: 90% !important;
		padding-right: 10px;
	}

	/* se till div för advanced search-knappen tar rätt utrymme */
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3) {
		flex: 1 1 10% !important;
		max-width: 10% !important;
		padding-left: 0px !important;
	}

	/* bort med tomrummet på varje sida av sökresultat+facetter */
	prm-search>md-content>div:first-of-type,
	prm-search>md-content>div:last-of-type,
	prm-search>div>md-content>div:first-of-type,
	prm-search>div>md-content>div:last-of-type {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}
}

@media (max-width: 959px) and (min-width: 600px) {
	/* bort med tomrummet på varje sida av sidhuvudet */
	prm-skip-to, prm-user-area-expandable {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}

	/* bort med tomrummet på varje sida av sökrutan */
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1),
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4) {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}

	/* se till div för sökrutan tar rätt utrymme */
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2) {
		flex: 1 1 85% !important;
		max-width: 85% !important;
	}

	/* ta bort mellanrum efter X i sökrutan på mindre skärmar */
	.search-options.flex-sm-40 {
		-ms-flex: 1 1 0%;
		flex: 1 1 0%;
		max-width: 0%;
	}

	/* se till div för advanced search-knappen tar rätt utrymme */
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3) {
		flex: 1 1 15% !important;
		max-width: 15% !important;
		padding: 0px !important;
	}

	/* bort med tomrummet på varje sida av sökresultat+facetter */
	prm-search>md-content>div:first-of-type,
	prm-search>md-content>div:last-of-type,
	prm-search>div>md-content>div:first-of-type,
	prm-search>div>md-content>div:last-of-type {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}
}
@media (max-width: 599px) and (min-width: 200px) {
	/* bort med tomrummet på varje sida av sidhuvudet */
	prm-skip-to, prm-user-area-expandable {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}

	/* bort med tomrummet på varje sida av sökrutan */
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1),
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4) {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}

	/* se till div för sökrutan tar rätt utrymme*/
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2) {
		flex: 1 1 100% !important;
		max-width: 100% !important;
		padding-right: 0px;
	}

	/* se till div för advanced search-knappen tar rätt utrymme*/
	prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3) {
		flex: 1 1 0% !important;
		max-width: 0% !important;
		padding-left: 0px !important;
	}

	/* bort med tomrummet på varje sida av sökresultat+facetter */
	prm-search>md-content>div:first-of-type,
	prm-search>md-content>div:last-of-type,
	prm-search>div>md-content>div:first-of-type,
	prm-search>div>md-content>div:last-of-type {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}
}



/*****************************************************

Sidhuvudet, logga + egen meny

******************************************************/

/* eget litet minisidhuvud med användarnamn och språkbyte */
prm-top-bar-before {
	display: flex;
}

/* Rätt höjd */
prm-topbar {
	height: unset;
}

/* vit bakgrund, padding*/
prm-topbar .top-nav-bar {
	background-color: #ffffff;
	height: 60px; 
}

/* se till att skapa tomrummet på varje sida och att de tar lika mycket plats*/
prm-top-bar-before>div:nth-of-type(1),prm-top-bar-before>div:nth-of-type(3) {
	flex: 1 1 15%;
	max-width: 15%;
}

/* anpassningar till mindre skärmar */
@media (max-width: 1279px) and (min-width: 200px) {
	prm-top-bar-before>div:nth-of-type(1),prm-top-bar-before>div:nth-of-type(3) {
		flex: 1 1 0%;
		max-width: 0%;
	}
	prm-topbar .top-nav-bar {
		padding: 0.5em;
	}
	prm-top-bar-before {
		padding: 0em 0.5em 0em 0.5em;
	}
}

/* dölj de divs som upptar mellanrum i sidhuvudet */
prm-topbar>div:nth-of-type(1)>div:nth-of-type(1),prm-topbar>div:nth-of-type(1)>div:nth-of-type(2) {
	display: none;
}

/* Dölj ExLibris Meny */
prm-main-menu {
	display: none;
}

/* se till att logga plus text tar upp flexutrymme och att loggan hamnar centrerat i höjd */
prm-topbar prm-logo {
	flex: 1 1 35%;
	max-width: 35%;
	display: flex;
	align-items: center;
}

/* se till vår egen meny tar upp rätt utrymme */
prm-search-bookmark-filter {
	flex: 1 1 35% !important;
	max-width: 35% !important;
	margin: 0;
}

/* anpassningar till mindre skärmar */
@media (max-width: 1919px) and (min-width: 1600px) {
	prm-topbar prm-logo {
		flex: 1 1 35%;
		max-width: 35%;
	}
}
@media (max-width: 1599px) and (min-width: 1280px) {
	prm-topbar prm-logo {
		flex: 1 1 35%;
		max-width: 35%;
	}
}
@media (max-width: 1279px) and (min-width: 960px) {
	prm-topbar prm-logo {
		flex: 1 1 40%	!important;;
		max-width: 40% !important;;
	}
	prm-search-bookmark-filter {
		flex: 1 1 60% !important;
		max-width: 60% !important;
	}
}

/* sätt loggans höjd/storlek */
prm-logo .product-logo {
	padding: 0px;
	height: 50px;
}

prm-logo .md-button {
	min-width: 40px;
	padding: 0px;
}

/* placera rubriken "KTH Biblioteket" rätt och sätt fontstorlek */
prm-topbar prm-logo-after {
	top: -5px;
	position: relative;
	padding-left: 15px;
	font-size: 1.25em;
    font-family: "Open Sans",Arial,"Helvetica Neue",helvetica,sans-serif;
	font-weight: 600;
	height: 50px;
}

/* fixa länkar */
prm-logo a, prm-logo prm-logo-after a {
	color: #525252 !important;
	background-color: transparent !important;
	box-shadow: none !important;
}

/* anpassningar till mindre skärmar */
@media (max-width: 959px) and (min-width: 200px) {
	/* egen meny på ny rad små skärmar*/
	prm-topbar prm-logo {
		flex: 1 1 100%	!important;;
		max-width: 100% !important;;
	}
	prm-search-bookmark-filter {
		flex: 1 1 100% !important;
		max-width: 100% !important;
	}
	prm-topbar .top-nav-bar {
		flex-direction: column;
		height: auto;
		padding: 0 0.5em;
	}
	prm-search-bookmark-filter-after, prm-search-bookmark-filter-after>div>div,
	prm-search-bookmark-filter-after>div>prm-library-card-menu,
	prm-search-bookmark-filter-after>div>prm-authentication {
		flex: 1;
	}
	prm-search-bookmark-filter-after>div>div>button,
	prm-search-bookmark-filter-after>div>prm-library-card-menu>button,
	prm-search-bookmark-filter-after>div>prm-authentication>button {
		width: 100%;
	}
}

/*****************************************************

Sökrutan

******************************************************/
/* KTH-blå bakgrund */
prm-search-bar  {
	background-color: #1954a6;
}

/* Bort med luft på sidorna */
prm-search-bar, prm-tags-search-bar {
	padding: 1.5em 0em 1.5em 0em !important;
}

/* luft inne i rutan*/
prm-search-bar .simple-search-wrapper md-autocomplete-wrap input {
	padding-left:10px;
}
/* anpassningar till mindre skärmar */
@media (max-width: 1279px) and (min-width: 200px) {
	/* luft på sidorna */
	prm-search-bar {
		padding: 0.5em !important;
	}
}
@media (max-width: 959px) and (min-width: 200px) { 
	/* rätt fontstorlek */
	.__sm prm-search-bar,
	.__xs prm-search-bar {
		font-size: inherit;
	}
}

/* vänd förstoringsglaset, byt färg */
prm-search-bar prm-icon[icon-definition="magnifying-glass"] md-icon svg{
    transform: scale(1,1) !important;
	color: #e08303;
}

/* runda hörn */
prm-search-bar .search-element-inner, 
prm-search-bar #searchBar {
	border-radius: 5px;
}


/*****************************************************

Advanced search-knappen 

******************************************************/
/* bort med luft ovanför */
prm-search-bar .search-switch-buttons {
	padding-top: 0px;
}
/* styling */
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced,prm-search-bar .search-switch-buttons .md-button.switch-to-simple {
	background-color: rgb(255, 255, 255);
	color: #1954a6;
	line-height: 20px;
	white-space: pre-wrap;
	width: 100%;
	position: relative;
	height: 100%;
	max-height: 60px;
}
/* centrera texten */
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced>span,prm-search-bar .search-switch-buttons .md-button.switch-to-simple>span {
	justify-content: center !important;	
}

/* dölj så den inte täcker den blå kth-färgen*/
.advanced-search-backdrop {
	display: none;
}

/* rensa-knapp*/
.md-button.button-notice {
    color: tomato;
}

/*****************************************************

Egen Meny

******************************************************/
/* knappluft */
prm-search-bookmark-filter {
	padding: 10px 0px;
}

/*dölj exlibris mobilmeny*/
prm-user-area {
	display:none;
}

/* dölj logga in*/
prm-user-area-expandable .md-button, prm-user-area-expandable md-menu {
	display: none;
}

/* dölj favoriter och sökhistorik*/
prm-search-bookmark-filter>div:nth-of-type(1),prm-search-bookmark-filter>a:nth-of-type(1) {
	display: none;
}

/* se till att knapparna får rätt storlek och färger */
prm-search-bookmark-filter-after .md-button {
	line-height: 24px;
	background-color: #ffffff;
	text-transform: uppercase;
	color: #1954a6 !important;
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
}

/* storlek/höjd på knappikoner */
prm-search-bookmark-filter-after md-icon, prm-search-bookmark-filter-after prm-icon {
	margin: 0;
	height: 24px;
}

/* höjd på text under menyikoner */
prm-search-bookmark-filter-after span {
	line-height: 100%;
}

/* Favorithjärtat rakt */
prm-search-bookmark-filter #favorites-button md-icon {
	transform: rotate(0deg);
}

/* fixa så inget streck under hovrad länk är synligt */
prm-search-bookmark-filter-after a {
	box-shadow: none !important;
}

/* anpassningar till mindre skärmar */
@media (max-width: 599px) and (min-width: 200px) {
	/* bort med knapptexter */
	prm-search-bookmark-filter-after span {
		/*display: none !important;*/
		font-size: 12px;
	}

	.kth_menu {
		height: 60px;
		align-items: center;
	}
	prm-search-bookmark-filter-after .md-button {
		min-width:10px;
		padding: 0;
		height: 60px;
	}
}


/*****************************************************

Alert bar 

******************************************************/
/* bort med luft */ 
prm-alert-bar>div {
	padding: 0;
	background-color: #fff8c4 !important;
}

/* skapa tomrummet på sidorna */
prm-alert-bar .bar {
	padding: 0.5em 15%;
	justify-content: flex-start;
	background-color: #fff8c4 !important;
	border: none !important;
}

/* anpassningar till mindre skärmar */
@media (max-width: 1599px) and (min-width: 1280px) {
	prm-alert-bar .bar {
		padding: 0.5em 15%;
	}	
}
@media (max-width: 1279px) and (min-width: 200px) {
	prm-alert-bar .bar {
		padding: 0.5em 0%;
	}
	prm-alert-bar>div {
		padding: 0em 1.5em 0em 1.5em;
	}
}

/* flex-ordning på alert och sökresultat*/
prm-search {
	display: flex;
	flex-direction: column;
}
prm-search-after {
	order:1
}
prm-alert-bar {
	order:2
}
prm-search>div {
	order:3
}

/*egen alert bar*/
.bar.alert-bar {
    background-color: #fff8c4;
    height: auto;
    border: none;
    justify-content: flex-start;
}
.kth_alertbarwrapper .bar {
	padding: 0.5em 0 ;
}
.kth_alertbarwrapper div {
	background-color: #fff8c4; /*ex libris gul*/
}
.kth_alertbarwrapper {
	display: flex;
}

/* Dölj kiosk alert bar */
body.kiosk prm-alert-bar {
	display: none
}


/*****************************************************

Egna facetter ovanför sökresultat

******************************************************/

#facettmenudiv {
	display: flex;
	background-color: transparent;
	padding: .5em .75em;
	padding: 0;
}

#facettmenu {
	margin: 0;
	padding: 2px 0px;
}

#facettmenu li {
	display: inline;
}

#facettmenu a {
	font-weight: normal;
	color: #24A0D8;
}

#facettmenu span {
	font-size: 0.9em;
	font-style: italic;
}

/* sidnummers placering */
prm-search-result-list .pages-separated-with-gaps .list-item-wrapper.first-in-page:first-of-type .md-subheader ._md-subheader-inner {
	top: -27px;
	left: 0px;
}
/* anpassningar till mindre skärmar */
@media (max-width: 599px) and (min-width: 200px) {
	prm-search-result-list .pages-separated-with-gaps .list-item-wrapper.first-in-page:first-of-type .md-subheader ._md-subheader-inner {
		top: -34px;
		left: 5px;
	}
}

/* antal sökträffars placering */
prm-search-result-list .results-title {
	top: 0px;
}

/* spara sökning */
prm-add-query-to-saved-searches .md-button {
	color: #97abba !important;
}

/* snurra inte pin ikkonen (hjärtat) */
prm-icon.pin-icon md-icon {
	transform: rotate(0deg);
}

/*****************************************************

Did you mean? Vilken selector ska användas?
md-card för generell!

*****************************************************/
prm-search-result-list md-card {
	background-color: #fff !important;
	box-shadow: none !important;
	padding: 1em 0em 1em 0em !important;
}

prm-did-u-mean {
	font-size: 15px !important;
	font-weight: 600;
}
prm-did-u-mean a {
	color: #24A0D8;
}

/*****************************************************

Yta ovan sökresultat (personalize button etc)

******************************************************/

/* placera in egen "login to save query" (via after-directive i JS) */
prm-personalize-results-button {
	display: flex;
	flex-direction: row-reverse;
}
prm-personalize-results-button-after {
	top: -5px;
	position: relative;
}

@media (max-width: 599px) and (min-width: 200px) {
	prm-personalize-results-button-after {
		top: -10px;
	}
}
/* Mobilanpassning*/
prm-personalize-results-button {
	order:0;
}
#kth_logintoquery {
	margin-right: 1em !important;
}
#kth_advancedsearch {
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px !important;
	fill: #4aa8ea;
	margin-right: 1em !important;
}
.mobile-actions>button:nth-of-type(1) {
	order:2;
}
.mobile-actions>button:nth-of-type(2) {
	order:3;
}
.md-button.button-as-link-mobile.link-alt-color, 
.section-title prm-icon.md-button.button-as-link-mobile {
    color: #4aa8ea;
}

.kth_loggain {
	padding-top: 5px;
}
.kth_loggain .md-button {
	padding: 0;
	font-style: initial;
	color: #97abba;
}

/* färg på knapp */
prm-personalize-results-button .md-button {
	color: #24A0D8 !important;
}

/* färg på vald */
prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-thumb {
	background-color: #24A0D8 !important;
}

prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-label {
	color: #24A0D8 !important;
}

prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-bar {
	background-color: #24A0D8 !important;
}

/* Färg på "träffbanner" */
prm-search-result-tool-bar .md-toolbar-tools {
	background-color: #ffffff;
	padding-left: 0.8em !important
}

prm-search-result-list .search-result-tool-bar-mobile {
    top: 0px;
}
@media (max-width: 599px) and (min-width: 200px) {
	prm-search-result-list .pages-separated-with-gaps .results-title:not(.results-title-favorites) {
		padding-left: 10px;
	}

	.results-count {
		position: relative;
		left: 50px;
	}
}

/* Kiosk, visa inte*/
body.kiosk prm-personalize-results-button-after,
body.kiosk prm-search-result-tool-bar
{
	display: none;
}


/*****************************************************

Resultat/Content

******************************************************/

prm-search md-content.padded-container {
	/* bort med luft */
	padding: 1.5em 0;
}

/* anpassning mindre skärmar */
@media (max-width: 1279px) and (min-width: 200px) {
	/* in med luft */
	/*
	prm-search md-content {
		padding: 0.5em !important;
	}
	*/
}

/* grått streck på översta träffens topp */
.list-item-wrapper.first-in-page:first-of-type {
	border-top-width: 1px;
	border-top-style: solid;
}

/* bakgrund vit(grå vid hover)*/
prm-search-result-list .pages-separated-with-gaps .list-item-wrapper {
	background-color: #ffffff;
}
prm-search-result-list .pages-separated-with-gaps .list-item-wrapper:hover {
	background-color: #f2f2f2;
}
prm-brief-result-container .list-item-primary-content:before {
	background-color: transparent;
}

/* gör om hela sökreslutatet till flex och sätt omvänd ordning(för att våra egna facetter ska hamna överst), grått streck till höger */
prm-search-result-list {
	display: flex;
	flex-direction: column-reverse;
	border-right: 1px solid #e1e1e1;
	padding-right: 10px;
	justify-content: flex-end;
}
/* de egna facetterna */
prm-search-result-list-after {
	background-color: #ffffff;
	padding-bottom: 30px;
}
@media (max-width: 1279px) and (min-width: 200px) { 
	prm-search-result-list {
		border-right: 0;
		padding-right: 0em;
	}
	prm-search-result-list-after {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}


/* Actions */

/* "Actions", dölj mail,ref, citations och citationtrail */
prm-brief-result-container .result-item-actions>button:nth-of-type(1),
prm-brief-result-container .result-item-actions>button:nth-of-type(2),
prm-brief-result-container .result-item-actions>prm-citation-trails-indication-container {
	display:none;
}

/* Kiosk dölj */
body.kiosk .result-item-actions,
body.kiosk prm-brief-result-container md-checkbox,
body.kiosk #action_list
{
	display: none
}

/* Krysset för att stänga "actions"*/
.result-item-actions .more-options-button prm-icon.close-icon md-icon {
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
    top: 9px;
}

/* "Actions", flytta ner rutan och anpassa innehållet*/
.action-list-content {
	top: 12px;
}
.item-expanded .result-item-actions {
	top: 12px;
}
.list-item-wrapper.item-expanded .list-item-primary-content {
    transform: translate3d(0px,0px,0); 
}

prm-action-list .scroll-hidden {
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row-reverse;
	padding: 10px 0px !important;
}

prm-action-list>md-nav-bar nav {
	justify-content: left;
}

/*
prm-action-list #scrollActionList {
	flex-direction: row-reverse;
}
*/

/* Ikonen för att öppna "actions" på varje sökträff */
.result-item-actions .more-options-button prm-icon.open-icon md-icon {
	top: 0px;
}

/*Visa alltid(även på små skärmar)*/
#briefResultMoreOptionsButton {
    display: block;
}

/* "actions"-knappar*/
prm-copy-clipboard-btn .md-button.button-confirm {
	color: #4aa8ea; 
}

/* hjärta snurra inte */
.result-item-actions .pin-button.pinned md-icon {
	transform: rotate(0deg);
}
/* färger på markera favoritikon(hjärta), grå resp blå*/
.result-item-actions .pin-button.pinned {
	color: #97abba;
 }
 .result-item-actions .unpin-button.unpinned {
	color: #4aa8ea;
 }

/* materialbild(omslag etc) */
prm-search-result-thumbnail-container img {
	border: 1px solid #bdbdbd;
}
/* dölj de omslag som är multiple*/
prm-search-result-thumbnail-container .fan-img:nth-of-type(2), prm-search-result-thumbnail-container .fan-img:nth-of-type(3) {
	display: none;
}
/* fixa storlek och snurr */
prm-search-result-thumbnail-container .fan-img:first-of-type {
	transform: rotate(0deg) translate3d(0px,0,0) scale3d(1,1,1);
}
prm-brief-result-container:hover prm-search-result-thumbnail-container .fan-img:first-of-type {
	transform: rotate(0deg) translate3d(0px,0,0) scale3d(1,1,1);
}
prm-full-view-service-container prm-search-result-thumbnail-container .fan-img:first-of-type {
	transform: rotate(0deg) translate3d(-16px,0,0) scale3d(.8,.8,1);
}
prm-full-view-service-container prm-brief-result-container:hover prm-search-result-thumbnail-container .fan-img:first-of-type {
	transform: rotate(0deg) translate3d(-16px,0,0) scale3d(.8,.8,1);
}

prm-full-view prm-full-view-service-container prm-brief-result-container .list-item-primary-content {
	padding-left: 2em !important;
}

/* Dölj ikkonen framför tillgänglig text (print/online etc) */
prm-brief-result-container .result-item-text prm-search-result-availability-line prm-icon[icon-definition="link"],
prm-brief-result-container .result-item-text prm-search-result-availability-line prm-icon[icon-definition="book-open"],
prm-brief-result-container .result-item-text prm-search-result-frbr-line prm-icon[icon-definition="link"],
prm-brief-result-container .result-item-text prm-search-result-frbr-line prm-icon[icon-definition="multiple-items"]
{
	display: none;
}

/* grön text */
prm-brief-result-container [class*="check_"] {
	color: #0f7d00;
}

/* röd text */
prm-brief-result-container [class*="no_"], 
prm-brief-result-container [class*="unavailable"] 
{
    color: #e01b1b;
}

/* dölj peer ikkonen */
.peer-reviewed-mark-icon {
	display: none;
}

prm-brief-result-container .badges,
prm-brief-result-container .peer-reviewed-mark
{
	left: 0px;
} 

/* dölj OA indikationen helt tills vidare, vår egen via unpaywall är just nu bättre */
.open-access-mark {
	display: none;
}

/* färg på knappen för att hämta fler träffar */
button.button-confirm.button-large.md-button.md-primoExplore-theme.md-ink-ripple {
	color: #4aa8ea
}

/* no result */
prm-no-search-result md-card-title,
prm-no-search-result md-card-content,
prm-no-search-result-after md-card-title,
prm-no-search-result-after md-card-content
{
	padding: 0  !important;
}

/* Kiosk no result */
body.kiosk prm-no-search-result>md-card {
	display: none;
}

/* Kiosk online */
body.kiosk prm-view-online>div {
	display: none;
}

/*****************************************************

Facetter

******************************************************/
/*
prm-facet {
	display:flex;
	flex-direction: column-reverse;
}

prm-facet .sidebar-title {
	display: none;
}

prm-facet-after .sidebar-title {
	display: block;
}
*/

/* facettlistans rubriker */
.sidebar-title {
	font-weight: 400;
	color: #525252;
	align-self: center;
}

/* facett-rubriker */
.section-title-header {
	font-weight: 400;
	color: #525252;
}

/* mellanrum mellan rubriker */
.section-title {
    margin: 0px;
}
/*mellanrum facettrubrik och facetten ovan*/
prm-facet-group>div {
	margin-top: 0.5em;
}

/* Dölj top level */
div[data-facet-group="tlevel"] {
	display: none;
}

/* Reset knapp */
.md-button.button-as-link.link-alt-color {
	color: #4aa8ea;
}
/* checkboxar */
prm-facet-group md-checkbox {
	position: relative !important;
	z-index: 100 !important;
    transform: scaleX(1) !important;
	transition: all 0s 0s !important;
	visibility: visible !important;
}
.multiselect-facet-group .md-chip .md-range-content {
	left: 4px !important;
}

/* se till att facetter scrollar med sidan */
/*
prm-facet .primo-scrollbar {
	position: relative !important;
	top: 0px !important;
}
*/
.kth-facet-notsticky {
    position: relative !important;
	top: 0px !important;
}

/* sorteringsväljaren */
prm-search-result-sort-by {
    position: relative;
    top: -2px;
}
/* pilen */
prm-search-result-sort-by ._md-select-value ._md-select-icon {
    -webkit-transform: translate3d(0,0px,0);
    transform: translate3d(0,0px,0);
}

/* texten på varje facett i listan */
.section-content .md-chips .md-chip strong {
   font-size: 1em;
   font-weight: 400 !important; 
}

/* padding på varje facett i listor */
prm-facet-exact .section-content {
	padding-left: 4px
}

/*apply filterknapp*/
.multiselect-submit .multiselect-submit-inner .md-button.md-primary, .prm-positive-bg, .multiselect-submit .multiselect-submit-inner .md-button.md-primary:focus, .multiselect-submit .multiselect-submit-inner .md-button.md-primary:hover {
    background-color: #4aa8ea;
}

/*aktiva filter*/
prm-breadcrumbs .md-chips .md-chip-content {
	padding-left: 15px;
}
prm-breadcrumbs .md-chips .md-chip {
	background-color: #f3f3f3;
}
prm-breadcrumbs .md-button.button-as-link {
	padding: 0;
}

/*mindre runda aktiva filterknappar*/
prm-breadcrumbs .md-chip {
    border-radius: 0.5em;
}

/*färg och font aktiva filterknappar*/
prm-breadcrumbs .md-chip {
	color: #6d6d6d;
}
prm-breadcrumbs .md-chip strong {
	font-size: 1em !important;
	font-weight: 400 !important;
}

/*Låt hänglås för facetter alltid synas*/
prm-facet prm-breadcrumbs div.md-chip-content strong {
	padding-left: 22px;
}
prm-breadcrumbs .md-chips .md-chip-content .persistence-button {
	opacity: 1;
	transform: none;
	padding-left: -2px;
}
prm-breadcrumbs .md-chip.persistent-facet strong {
	padding-left: 0;
}
prm-breadcrumbs .md-chip.persistent-facet .md-chip-content .persistence-button {
	left: -1px;
}



/*********************************

prm-back-to-search-results-button

*********************************/

/* bakgrundsfärg */
prm-back-to-search-results-button button {
	background-color: #e9e9e9 !important;
}

prm-back-to-search-results-button .md-toolbar-tools>div:first-of-type {
	flex: 1 1 15% !important;
	max-width: 15% !important;	
}

/* mindre skärmar */
@media (max-width: 1279px) and (min-width: 200px) {
	/* Fixa till utrymmet på sidorna att stämma överens med t ex sökrutan */
	prm-back-to-search-results-button md-toolbar.zero-padding {
		padding: 0em 1.5em 0em 1.5em !important;
	}
	prm-back-to-search-results-button .md-toolbar-tools>div:first-of-type {
		flex: 1 1 0% !important;
		max-width: 0 !important;	
	}
}

/*********************************

Fullpost

*********************************/

/* Bakgrundsfärg */
#full-view-container,
.full-view-inner-container {
	background-color:#fff;
}

/* Rubriker */
.full-view-section .section-title {
	font-weight: 600;
	color: #777777
}

/* Bort med luft ovanför varje avdelning */
.full-view-section {
	margin-top: 1em;
}

/* bort med luft till vänster */
.__gt-xs .full-view-section-content {
	padding-left: 0;
}

/* Färg på stäng och bläddringsknappar */

.full-view-navigation prm-icon[icon-definition="close"] md-icon {
	background-color: #ff4343;
	border-radius: 50%;
}

/* dölj vänsternavigeringsknappar */
prm-full-view .services-index-under {
	display: none;
}

/* ordning högerlistan, recommendations underst */
prm-recomendations {
	order: 3;
}

/* Anpassa "divider"/streck efter varje avdelning */
prm-service-header>div.layout-align-center-center {
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}

/* anpassning efter skärmstorlekar */
@media (max-width: 1919px) and (min-width: 1600px) {
}
@media (max-width: 1599px) and (min-width: 1280px) {	
}
@media (max-width: 959px) and (min-width: 600px) {
	#full-view-container>div:nth-of-type(2) {
		padding-left: 3em;
	}
}
@media (max-width: 599px) and (min-width: 200px) {
	#full-view-container>div:nth-of-type(2) {
		padding-left: 1.5em;
	}
}

/* Ordning och placering av avdelningar */
.full-view-container .full-view-inner-container {
	display: flex;
	flex-direction: column;
	/* IE Fix*/
	/*flex: 1 0 auto;*/
}
.full-view-container #brief {
	order: 0;
}
.full-view-container #getit_link1_0 {
	order: 5;
}
.full-view-container #getit_link1_1 {
	order: 7;
}
.full-view-container #getit_link2 {
	order: 10;
	display: none; /* Dölj alltid getit_link2 */
}
.full-view-container #action_list {
	order: 15;
}
.full-view-container #details {
	order: 20;
}
.full-view-container #virtualBrowse {
	order: 50;
}

/* dölj tags */
#tags {
	display: none;
}

/* visa inte onlinetexten i huvudet */
.full-view-container prm-search-result-availability-line {
	display:none; 
}

/* Bort med luft */
.search-result-availability-line-wrapper {
	min-height: 1em;
}

/* på samma hylla */
prm-virtual-browse[md-virtual-repeat] {
	width: 84px;
}

/*************

Helsidesview

*************/
prm-full-view {
	position: unset;
}
prm-full-view-page md-content.padded-container {
	padding: 1em 0em 0em 0em;
}

prm-full-view-page md-content .full-view-inner-container,
prm-full-view-page md-content prm-brief-result-container .list-item-primary-content {
	padding: 0;
}

prm-full-view-page md-content .full-view-container .full-view-section {
	padding-left: 0em;
}

prm-full-view-page md-content>div:nth-of-type(1) {
	flex: 1 1 15% !important;
	max-width: 15% !important;
}
/* permalink prm-citation */
prm-full-view-page prm-permalink md-content>div:nth-of-type(1),
prm-full-view-page prm-citation md-content>div:nth-of-type(1) {
	flex: 1 1 100% !important;
	max-width: 100% !important;
}

prm-full-view-page md-content .full-view-container:after {
	content: "";
	position: absolute;
	height: 100%;
	top: 0px;
	width: 1px;
	left: 0;
	background-color: #f7f7f7;
}

/* anpassning efter skärmstorlekar */
@media (max-width: 1919px) and (min-width: 1600px) {
}
@media (max-width: 1599px) and (min-width: 1280px) {	
}

@media (max-width: 1279px) and (min-width: 960px) {	
	prm-full-view-page md-content>div:nth-of-type(1) {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}

	prm-full-view-page md-content .full-view-inner-container {
		padding-left: 1.5em;
	}
}
@media (max-width: 959px) and (min-width: 600px) {
	prm-full-view-page md-content>div:nth-of-type(1) {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}
}
@media (max-width: 599px) and (min-width: 200px) {
	prm-full-view-page md-content>div:nth-of-type(1) {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}
}

/*************

Dialogview

*************/
/* Bort med luft */
.full-view-aside {
	padding-left: 0em;
	margin-top: 0em;
}
/* högersidan */
.full-view-inner-container+.full-view-aside {
	display: flex;
	flex-direction: column;
}

/***************

Citations

****************/

/* ta bort Ex Libris egna citeringar(korrekt?) */
prm-times-cited {
	display:none;
}

.wostimesCited {
	color: tomato
}

/* Ta bort luft ovanför */
#citationTrails {
	margin-top: 0px;
}

/* Ta bort luft till vänster */
#citationTrails .full-view-section-content {
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0em;
}

/* se till att bredden är konstant så att "cited" och "citing" hamnar på egna rader */
prm-citation-trails-fullview-link>div:nth-of-type(1) {
	max-width: 230px;
	min-width: 230px;
}
/* bort med luft */
prm-citation-trails-indication {
	margin: 0 !important;
}

/* Fixa till länkarna */
prm-citation-trails-indication .md-button.button-with-icon {
	line-height: 20px;
	min-height: 20px;
	padding: 0;
	min-width: 0px;
	color: #5c92bd;
	box-shadow: inset 0 -1px 0 0 rgba(92,146,189,0);
	border-radius: 0px;
}
prm-citation-trails-indication .md-button.button-with-icon:hover {
	color: #226091!important;
	background-color: rgba(92,146,189,.1)!important;
	box-shadow: inset 0 -1px 0 0 rgba(34,96,145,.5)!important;
	
}
/* Bort med ikkonen(visa endast länktext */
prm-citation-trails-indication .md-button.button-with-icon>prm-icon {
	display: none;
}

/* anpassning efter skärmstorlekar */
@media (max-width: 1919px) and (min-width: 1600px) {
}
@media (max-width: 1599px) and (min-width: 1280px) {	
}
@media (max-width: 959px) and (min-width: 600px) {
	#citationTrails {
		padding: 0px;
	}
}
@media (max-width: 599px) and (min-width: 200px) {	
}

/*************

Metrics

**************/

/* Metrics-rubriken lika som övriga */
prm-full-view-after .section-title {
	margin: 0;
	line-height: 1.2em;
	position: relative;
	padding-right: 1em;
}

/* Anpassningar till olika skärmstorlekar */
@media (max-width: 959px) and (min-width: 600px) {
	/* full view(ej dialog) */
	.__sm prm-full-view-cont .recommendations-wrapper {
		padding-left: 0em;
		background-color:#fff;
	}

	prm-full-view-after .full-view-section {
		padding: 0;
	}
}
@media (max-width: 599px) and (min-width: 200px) {
}

/******************

Recommendations

******************/

/* Dölj beskrivningstexten */
prm-recomendations .section-description {
	display: none;
}

/* Storlek på bokomslag */
prm-recomendation-item .media-figure {
	min-width: 47px;
}
/* default bokomslag om inget hittas*/
prm-recomendation-item .media-figure img {
	border: 1px solid #bdbdbd;
	min-height: 60px;
	background-image: url('/primo-explore/custom/46KTH_VU1_L/img/icon_article.png');
	background-position-x: center;
	background-position-y: center;
	background-size: 47px;
	background-repeat: no-repeat;
}

/* anpassning efter skärmstorlekar */
@media (max-width: 1919px) and (min-width: 1600px) {
}
@media (max-width: 1599px) and (min-width: 1280px) {	
}
@media (max-width: 959px) and (min-width: 600px) {
	prm-recomendation-item {
		padding: 0;
		margin-left: 0;
		padding-left: 0;
	}

	prm-recomendations .recommendations-wrapper .section-title {
		margin-left: 0;
		padding-left: 0;
	}
}
@media (max-width: 599px) and (min-width: 200px) {
	prm-recomendation-item {
		padding: 0;
		margin-left: 0;
		padding-left: 0;
	}

	prm-recomendations .recommendations-wrapper .section-title {
		margin-left: 0;
		padding-left: 0;
	}	
}

/*********************************

Alma mashup

**********************************/

/* laddningsikkonen (almasidan tar lååååååång tid ibland) */
prm-alma-mashup {
	/*
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100px' height='100px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3e%3cpath opacity='0.2' fill='%23000' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z'%3e%3c/path%3e%3cpath fill='%23000' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0C22.32,8.481,24.301,9.057,26.013,10.047z' transform='rotate(120 20 20)'%3e%3canimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 20 20' to='360 20 20' dur='0.5s' repeatCount='indefinite'%3e%3c/animateTransform%3e%3c/path%3e%3c/svg%3e") 0px 0px no-repeat;
	*/
	margin-bottom: 0px !important;
}

/* BETA prm-alma-mashup-after, Information om tryckt material som hämtas från Alma via API */
prm-alma-mashup-after table {
	border-spacing: 0;
	width: 100%;
}
prm-alma-mashup-after th {
	font-size: 1.2em;
	color: #757575;
	white-space: nowrap;
}
prm-alma-mashup-after td, prm-alma-mashup-after th {
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align:left;
}
prm-alma-mashup-after tr:nth-child(even) {
	background-color: #ddd;
}
prm-alma-mashup-after tr:first-of-type {
	background-color: transparent;
}
prm-alma-mashup-after prm-icon {
	color: #8e8e8e;
}
prm-alma-mashup-after md-icon {
	height: 20px;
	width: 20px;
	min-height: 20px;
	min-width: 20px;
}

/* dölj gul banner "login to request" */
prm-login-alma-mashup .alert-bar {
	display: none;
}

prm-login-alma-mashup-after>div {
    padding-bottom: 10px;
}

/* gör om loginknappen */
prm-login-alma-mashup-after .md-button {
    color: #5c92bd;
	padding-left: 0px;
    border: 1px solid;
    border-color: #5c92bd;
}


/*********************************

Favorites

**********************************/

/* färger på favoritikon(hjärta), grå resp blå*/
.result-item-actions .pin-button.pinned {
	color: #97abba;
}
prm-favorites .unpin-button {
	color: #4aa8ea;
}

/*
prm-favorites>prm-favorites-tool-bar.layout-column {
	flex-direction: row-reverse;
}
prm-favorites>prm-favorites-tool-bar>md-toolbar {
	flex: 1 1 80% !important;
	max-width: 80% !important;
}

prm-favorites-tool-bar-after {
	display: flex;
	flex: 1 1 20% !important;
    max-width: 20% !important;
}

prm-favorites-tool-bar-after>div:first-of-type {
	flex: 1 1 75% !important;
    max-width: 75% !important;
}
prm-favorites-tool-bar-after>button.md-button {
	margin: 0;
    padding: 0;
    flex: 1 1 25% !important;
    max-width: 25% !important;
	min-width: 0px;
	background-color: #e9e9e9 !important;
}
*/
/* ikkonen glas storlek */
/*
prm-favorites-tool-bar-after md-icon {
	height: 34px;
    width: 34px;
}
*/

/*
prm-favorites-tool-bar-after prm-icon md-icon svg {
	color: #e08303 !important;
}
*/

/* Rätt tomrum/marginaler för content */
prm-favorites>prm-favorites-tool-bar>md-toolbar>div>div:first-of-type,
prm-favorites>div:first-of-type>div:first-of-type {
	flex: 1 1 15% !important;
	max-width: 15% !important;
}



/*********************************

My Account / Mina Sidor

**********************************/
/* Rätt tomrum/marginaler */
prm-account>md-toolbar>div>div:first-of-type,
prm-account>md-content>div:first-of-type {
	flex: 1 1 15% !important;
	max-width: 15% !important;
}

/* Bort med luft */
prm-account md-toolbar div:first-of-type {
	padding-left: 0px;
}
prm-account md-toolbar button:first-of-type {
	margin-left:0px !important;
}
prm-account md-content.padded-container {
	padding: 0px;
}

/*bort med de stora ikonerna (palmen etc) */
.giant-icon {
	display: none;
}

/* Personal Settings, dölj listan med utskick */
prm-personal-info md-card-content>div:nth-of-type(3) {
	display: none;
}

prm-account .md-button.button-confirm {
	color: #4aa8ea;
}

/****************************

CITATION PATH

****************************/

prm-citation-trails-breadcrumbs>md-toolbar>div>button {
	margin-left: 0px !important;
	background-color: #e9e9e9 !important;
	color: #e08303 !important;
}

prm-citation-trails-breadcrumbs md-toolbar>div {
	padding-left: 0px !important;;
}
prm-citation-trails-breadcrumbs md-toolbar>div>div, prm-citation-trails-breadcrumbs .prm-horizontal-content>div:first-of-type {
	flex: 1 1 15% !important;
    max-width: 15% !important;
}

@media (max-width: 1279px) and (min-width: 200px) {
	prm-citation-trails-breadcrumbs md-toolbar>div>div, prm-citation-trails-breadcrumbs .prm-horizontal-content>div:first-of-type {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}

	prm-citation-trails-breadcrumbs md-toolbar {
   		padding: 0px 10px 0px 10px;
	}
}

/***********************************

Settings vid facettlistan (personalize
material outside etc)

************************************/

.sidebar .personalization-section md-checkbox {
	color: #4aa8ea;
}

/**********************************

FÄRGER

*********************************/

/* strecket under inputrutor*/
md-input-container:after {
	background-color: #4aa8ea;
}

/* streck under tabrubrik med focus*/
 md-tabs md-ink-bar {
	background-color: #4aa8ea
 }

 /* checkboxar */

md-checkbox ._md-icon {
    opacity: 1;
    border-color: #4aa8ea;
	border-width: 2px;
}
md-checkbox.md-checked ._md-icon{
    background-color: #4aa8ea;
}
.sidebar .personalization-section .sidebar-list {
    color: #3a3a3a;
}

/*********************************

Generella

*********************************/

.kth-hide { 
	display: none;
}

/*********************************

ANIMATIONER

*********************************/

/* ingen ikon som "flyger" till favoriter */
.pinDummy {
	display: none;
}

/*********************************

Tooltips när inte Angulars egen 
tooltip räcker till. 

För närvarande till att visa 
open access info

TODO: Anpassa till små skärmar
*********************************/
.tooltip {
	position: relative;
	display: inline-block;
	overflow: visible;
	white-space: initial;
	top: 5px;
	color: #888888;
	fill: CURRENTCOLOR;
}

.tooltip .locationmap.tooltiptext {
	text-align: left;
	margin-left: 0px;
	color: #000000;
}

.tooltip .locationmap.tooltiptext::after {
	content: none;
}

.tooltip-top {
	bottom: 32px; /*32px*/
	left: -75px; /*-190px*/
	margin-left: -60px;
}

.tooltip .tooltiptext {
	visibility: hidden;
	position: absolute;
	width: 320px;
	background-color: #8e8e8e;
	color: #fff;
	text-align: left;
	padding: 10px 10px;
	border-radius: 8px;
	opacity: 0;
	transition: opacity 0.3s;
	z-index: 11;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%; /**/
	left: 50%;/**/
	margin-left: -23px;/*90px*/
	border-width: 8px;
	border-style: solid;
	border-color: #8e8e8e transparent transparent  transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/*************

Kundo Chat

**************/

#kundo-chat #kundo-chat-widget.kundo-chat-widget .kundo-chat-flow-selector__label {
	display:block
}