/*********************************************

KTH-Anpassningar för Primo New UI

**********************************************

/*********************************************

Imortera open sans (KTH's huvudfont)
**********************************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/mem5YaGs126MiZpBA-UN_r8OX-hpKKSTj5PW-11eae22eb2aa823fbf05abc4cf01c042.woff2) format("woff2");
    unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/mem5YaGs126MiZpBA-UN_r8OVuhpKKSTj5PW-3ba3e8d1c1c5117f98e5244712781159.woff2) format("woff2");
    unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/mem5YaGs126MiZpBA-UN_r8OXuhpKKSTj5PW-91d4f626af66a11b5baffdf2f97f6ddf.woff2) format("woff2");
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/mem5YaGs126MiZpBA-UN_r8OUehpKKSTj5PW-eaf5a09c563360f9c48288b539f20c23.woff2) format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/mem5YaGs126MiZpBA-UN_r8OXehpKKSTj5PW-fdd62992828f56676b6299d266239952.woff2) format("woff2");
    unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/mem5YaGs126MiZpBA-UN_r8OXOhpKKSTj5PW-bfae5c3ef80ec61ca609f93ccfabca4f.woff2) format("woff2");
    unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/mem5YaGs126MiZpBA-UN_r8OUuhpKKSTjw-8200f3daceb453809e0575364d73ca1f.woff2) format("woff2");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a-a7b3bd8469f4e8078ca4533034d41ab9.woff2) format("woff2");
    unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a-3e14c4fceaa0527b806d0774e4b3ed5c.woff2) format("woff2");
    unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a-42902f5bb63ac1dd86d3575696e9ef87.woff2) format("woff2");
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a-e39d1b025668a1cbc229a8c50406b81c.woff2) format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a-2f576ebd220b72f27cc1f5241ead814b.woff2) format("woff2");
    unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/mem8YaGs126MiZpBA-UFW50bf8pkAp6a-310db26833980fdf3643ba5e425c169d.woff2) format("woff2");
    unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/mem8YaGs126MiZpBA-UFVZ0bf8pkAg-358d3070946a90b4960cd111154fdc12.woff2) format("woff2");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/mem5YaGs126MiZpBA-UNirkOX-hpKKSTj5PW-f98f9cf9e6d5ea92c204805862da3ebb.woff2) format("woff2");
    unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/mem5YaGs126MiZpBA-UNirkOVuhpKKSTj5PW-b1ed13e320ce8a20bcbc72d816a5b22c.woff2) format("woff2");
    unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/mem5YaGs126MiZpBA-UNirkOXuhpKKSTj5PW-68ee61370a77859b0b1f560e6243f486.woff2) format("woff2");
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/mem5YaGs126MiZpBA-UNirkOUehpKKSTj5PW-783d8cf7c332574b69fb7950f29da2e5.woff2) format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/mem5YaGs126MiZpBA-UNirkOXehpKKSTj5PW-b707c3f59d12f325469ff2d2367e376a.woff2) format("woff2");
    unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/mem5YaGs126MiZpBA-UNirkOXOhpKKSTj5PW-ea10852dd6f3c0a059695a402e9f6bb1.woff2) format("woff2");
    unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/mem5YaGs126MiZpBA-UNirkOUuhpKKSTjw-a01def30f4398df303f818579d05f4ea.woff2) format("woff2");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

body {
	font-family: "Open Sans",Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/****************************************************

Rättning för iPhone IOS 11 från Ex libris 2017-11-01

*****************************************************/
.md-dialog-container {
    height: 100% !important;
    position: fixed !important;
    top: 0px !important;
  }
  
/*****************************************************

bakgrund för diverse

*****************************************************/ 
body, 
primo-explore>div:nth-of-type(1),
prm-databases-categorize .sticking-wrapper,
prm-static,
md-card.default-card,
md-toolbar.default-toolbar, md-toolbar.default-toolbar:not(.md-menu-toolbar), 
md-toolbar.md-primoExplore-theme.default-toolbar,
prm-search-bar .simple-search-wrapper .search-options:after
{
	background-color: #f6f6f6;
}

/**************************************

Första sidan, innan sökning gjorts

**************************************/

/* anpassa luft/marginaler etc*/

prm-static md-card {
	margin: 0;
}
prm-static md-card-title {
	padding: 24px 0 16px 0 !important;
}
prm-static md-card-content {
	padding: 0 10px 10px 0 !important;
}
prm-static md-card-title-image img {
	width: 100%
}

/*****************************************************

Login modal

******************************************************/

prm-login,
prm-stand-alone-login md-card {
	background-color: #1954a6;
}

md-dialog.light-on-dark-dialog prm-login md-list[class$=-line] md-list-item.list-login .md-button, 
md-dialog.light-on-dark-dialog prm-login md-list md-list-item.list-login .md-button, 
md-dialog.light-on-dark-dialog prm-login md-list md-list-item.list-login .md-button,
prm-stand-alone-login md-list md-list-item.list-login .md-button .md-list-item-text h3,
prm-stand-alone-login .login-dialog,
prm-stand-alone-login .md-button,
prm-stand-alone-login prm-icon md-icon, prm-stand-alone-login prm-icon md-icon.md-primoExplore-theme {
	color:#ffffff !important;
}

prm-login a,
prm-stand-alone-login a {
	color: #87d8ff !important;
	color: #3ff !important;
}

md-dialog.light-on-dark-dialog prm-login md-list[class$=-line] md-list-item.list-login .md-button:hover:not([disabled]), 
md-dialog.light-on-dark-dialog prm-login md-list md-list-item.list-login .md-button:hover:not([disabled]), 
md-dialog.light-on-dark-dialog prm-login md-list md-list-item.list-login .md-button:hover:not([disabled]) {
	color: #ffffff !important;
}

/* */
prm-stand-alone-login .login-card md-list-item.login-brighter-dialog>.md-button .md-button:focus, 
prm-stand-alone-login .login-card md-list-item.login-brighter-dialog>.md-button .md-button:hover {
	background-color: #1954a6 !important;
	border: none;
	box-shadow: none;
}

/* */

prm-stand-alone-login .login-card md-list-item.list-login>.md-button:hover {
	box-shadow: none;
	background-color: #1954a6 !important;
	border: 1px solid;
	transition: none;
}

prm-stand-alone-login prm-logo-after {
    top: -10px;
}

prm-stand-alone-login prm-logo {
	display: flex;
    align-items: center;
}

prm-stand-alone-login label {
	color:#fff !important;
}

prm-stand-alone-login md-input-container .md-input {
    border-width: 0 0 1px;
	border-color: hsla(0,0%,100%,.5);
}

/*******************************************

Main menu

prm-main-menu

*******************************************/

prm-main-menu .md-button.multi-line-button{
	white-space: nowrap;
}

prm-main-menu[menu-type=menu] .md-button {
	max-width: 20em;
}

prm-user-area-expandable .md-button.user-button .menu-arrow {
	color:#000000;
}

prm-main-menu .md-button.button-over-dark:not(.disable-hover) {
	color:#000000;
}

prm-topbar .md-button:not(.disable-hover):not(.close-btn-favorits-warning-message) {
	color:#000000;
}
prm-search-bookmark-filter prm-icon md-icon.md-primoExplore-theme {
	color:#000000;
}

prm-search-bookmark-filter prm-icon md-icon:hover {
	color:#ffffff !important;
}

prm-search-bookmark-filter prm-icon md-icon:hover {
	color:#ffffff !important;
}

button#lang-icon {
	display: block !important;
}

#kth_langbutton {
	color: inherit;
}

.md-button.button-over-dark:not(.disable-hover) {
	color:#000000
}

.md-button.button-over-dark:not(.disable-hover):hover:not([disabled]):hover:not([disabled]),
prm-topbar .md-button:not(.disable-hover):hover:not([disabled]):hover:not([disabled]):not(.close-btn-favorits-warning-message) {
	color: white;
	background-color: #1954a6;
}

/*****************************************************

Sidhuvudet, logga + egen meny

******************************************************/

prm-topbar {
	height: 85px;
	background-color: white
}


prm-topbar prm-logo {
	display: flex;
	width: 320px;
    z-index: 10;
    height: 100%;
    max-width: 320px;
	padding: 17px 0px 0px 17px
}

body.kiosk prm-topbar prm-logo {
	width: 380px;
    max-width: 380px;
}
/* Library Name*/
prm-logo-after {
	font-family: "Open Sans",Arial,"Helvetica Neue",helvetica,sans-serif;
	font-size: 1.3em;
	width: 200px;
	padding-left:17px;
	padding-top:0px;
	top: -5px;
    position: relative;
}

body.kiosk prm-logo-after {
	width: 380px;
}

.kth-sitenameheader {
	color: hsla(0,0%,100%,.85);
	color:#232323;
	font-weight: 600;
}

/* bakgrund, padding*/
prm-topbar .top-nav-bar {
	background-color: #1954a6;
	background-color: white;
}

/* se till att logga plus text tar upp flexutrymme och att loggan hamnar centrerat i höjd */
prm-topbar prm-logo {
	align-items: top;
}

/* anpassningar till mindre skärmar */
@media (max-width: 1024px) {
	#qrCodeScanner {
		display: none;
	}
}
@media (max-width: 959px) {
	prm-logo-after { 
		font-size: 1em;
	}

	prm-topbar prm-logo {
		max-width: 200px !important;
	}
}

/* sätt loggans höjd/storlek */
prm-stand-alone-login prm-logo .product-logo img , 
prm-logo .product-logo {
	padding: 0px;
	height: 51px;
}

prm-logo .md-button {
	min-width: 40px;
	padding: 0px;
}

/* fixa länkar */
prm-logo a, prm-logo prm-logo-after a {
	box-shadow: none !important;
}

/* anpassningar till mindre skärmar */
@media (max-width: 959px) and (min-width: 200px) {
	.user-button.sign-in-btn-ctm.md-button.md-primoExplore-theme.md-ink-ripple {
		display: none;
	}

	prm-logo-after {
		width: 140px;
	}

	span[translate="label.advanced_search"] {
		font-size: 0.8em;
	}
}

prm-explore-main .header .transparent-top-bar:before {
	background-color: #ffffff;
}

/*****************************************************

Sökrutan

******************************************************/
/* KTH-blå bakgrund med opacity  */
prm-search-bar, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-gallery-header .collection-header-inner  {
	background-color: rgb(25 84 166 / 90%);
	background-image: url(../img/primo_search.jpg);
	padding: 4.5em;
	position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

@media (max-width: 600px) and (min-width: 200px) {
	prm-search-bar, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-gallery-header .collection-header-inner  {
		background-image: url(../img/primo_search.jpg);
		padding: 1.5em 0em 1.5em 0em;
	}
}

/*****************************************************

Höger-meny

******************************************************/

/* 
	Hjärta-ikkonen ska inte vara snurrad 25 grader
*/

prm-icon.rotate-25 .heart {
    transform: rotate(0deg);
}

prm-search-bookmark-filter #favorites-button md-icon,
prm-search-bookmark-filter #favorites-button prm-icon svg {
	transition-delay: 0s !important;
	transition-duration: 0s !important;
}

prm-search-bookmark-filter #favorites-button md-icon {
	transform: rotate(0deg);
}

body.kiosk prm-search-bookmark-filter #favorites-button {
	display:none;
}

/* Dölj refworks */
.my-refworks-ctm {
	display: none;
}
 
.my-refworks-separator-ctm {
	display: none;
}

/*****************************************************

Alert bar 

******************************************************/

.kth_alertbarwrapper .bar {
	padding: 0.5em 0 ;
}
.kth_alertbarwrapper div {
	background-color: #fff8c4; /*ex libris gul*/
}
.kth_alertbarwrapper {
	display: flex;
}

/* Dölj kiosk alert bar */
body.kiosk prm-alert-bar {
	display: none
}

/* antal sökträffars placering */
prm-search-result-list .results-title {
	top: 0px;
}

/* spara sökning */
prm-add-query-to-saved-searches .md-button {
	color: #97abba !important;
}

/* snurra inte pin ikkonen (hjärtat) */
prm-icon.pin-icon md-icon {
	transform: rotate(0deg);
}

/*****************************************************

Did you mean? Vilken selector ska användas?
md-card för generell!

*****************************************************/
prm-search-result-list md-card {
	background-color: #fff !important;
	box-shadow: none !important;
	padding: 1em 0em 1em 0em !important;
}

prm-did-u-mean {
	font-size: 15px !important;
	font-weight: 600;
}
prm-did-u-mean a {
	color: #24A0D8;
}

/*****************************************************

Yta ovan sökresultat (personalize button etc)

******************************************************/

/* placera in egen "login to save query" (via after-directive i JS) */
prm-personalize-results-button {
	display: flex;
	flex-direction: row-reverse;
}
prm-personalize-results-button-after {
	top: -5px;
	position: relative;
}

@media (max-width: 599px) and (min-width: 200px) {
	prm-personalize-results-button-after {
		top: -10px;
	}
}
/* Mobilanpassning*/
prm-personalize-results-button {
	order:0;
}

.mobile-actions>button:nth-of-type(1) {
	order:2;
}
.mobile-actions>button:nth-of-type(2) {
	order:3;
}
.md-button.button-as-link-mobile.link-alt-color, 
.section-title prm-icon.md-button.button-as-link-mobile {
    color: #4aa8ea;
}

body.kiosk prm-user-area-expandable {
	display:none;
}

/* Färg på "träffbanner" */
prm-search-result-tool-bar .md-toolbar-tools {
	background-color: #e9e9e9;
	padding-left: 0.8em !important
}

prm-search-result-list .search-result-tool-bar-mobile {
    top: 0px;
}

/* Kiosk, visa inte*/
body.kiosk prm-personalize-results-button-after
{
	display: none;
}


/*****************************************************

Träfflista. Resultat/Content

******************************************************/

/* bakgrund vit(grå vid hover)*/
prm-search-result-list .pages-separated-with-gaps .list-item-wrapper {
	background-color: #ffffff;
}
prm-search-result-list .pages-separated-with-gaps .list-item-wrapper:hover {
	background-color: #f2f2f2;
}
prm-brief-result-container .list-item-primary-content:before {
	background-color: transparent;
}

/* höjd (map-ikonen kan ställa till det t ex) */
prm-search-result-availability-line {
    line-height: 1.6em;
}

/* "Actions", dölj mail,ref, citations och citationtrail */
prm-brief-result-container .result-item-actions>button:nth-of-type(1),
prm-brief-result-container .result-item-actions>button:nth-of-type(2),
prm-brief-result-container .result-item-actions>prm-citation-trails-indication-container {
	display:none;
}

/* Kiosk dölj */
body.kiosk .result-item-actions,
body.kiosk prm-brief-result-container md-checkbox,
body.kiosk #action_list
{
	display: none
}

/* Krysset för att stänga "actions"*/
.result-item-actions .more-options-button prm-icon.close-icon md-icon {
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
    top: 9px;
}

/* "Actions", flytta ner rutan och anpassa innehållet*/
.action-list-content {
	top: 12px;
}
.item-expanded .result-item-actions {
	top: 12px;
}
.list-item-wrapper.item-expanded .list-item-primary-content {
    transform: translate3d(0px,0px,0); 
}

prm-action-list .scroll-hidden {
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 10px 0px !important;
}

prm-action-list>md-nav-bar nav {
	justify-content: left;
}

/* Ikonen för att öppna "actions" på varje sökträff */
.result-item-actions .more-options-button prm-icon.open-icon md-icon {
	top: 0px;
}

/*Visa alltid(även på små skärmar)*/
#briefResultMoreOptionsButton {
    display: block;
}

/* "actions"-knappar*/
prm-copy-clipboard-btn .md-button.button-confirm {
	color: #4aa8ea; 
}

/* hjärta snurra inte */
.result-item-actions .pin-button.pinned md-icon {
	transform: rotate(0deg);
}
/* färger på markera favoritikon(hjärta), grå resp blå*/
.result-item-actions .pin-button.pinned {
	color: #97abba;
 }
 .result-item-actions .unpin-button.unpinned {
	color: #4aa8ea;
 }

/* materialbild(omslag etc) */
prm-search-result-thumbnail-container img {
	border: 1px solid #bdbdbd;
}
/* dölj de omslag som är multiple*/
prm-search-result-thumbnail-container .fan-img:nth-of-type(2), prm-search-result-thumbnail-container .fan-img:nth-of-type(3) {
	display: none;
}
/* fixa storlek och snurr */
prm-search-result-thumbnail-container .fan-img:first-of-type {
	transform: rotate(0deg) translate3d(0px,0,0) scale3d(1,1,1);
}
prm-brief-result-container:hover prm-search-result-thumbnail-container .fan-img:first-of-type {
	transform: rotate(0deg) translate3d(0px,0,0) scale3d(1,1,1);
}
prm-full-view-service-container prm-search-result-thumbnail-container .fan-img:first-of-type {
	transform: rotate(0deg) translate3d(-16px,0,0) scale3d(.8,.8,1);
}
prm-full-view-service-container prm-brief-result-container:hover prm-search-result-thumbnail-container .fan-img:first-of-type {
	transform: rotate(0deg) translate3d(-16px,0,0) scale3d(.8,.8,1);
}

prm-full-view prm-full-view-service-container prm-brief-result-container .list-item-primary-content {
	padding-left: 2em !important;
}

/* Dölj ikkonen framför tillgänglig text (print/online etc) */
prm-brief-result-container .result-item-text prm-search-result-availability-line prm-icon[icon-definition="link"],
prm-brief-result-container .result-item-text prm-search-result-availability-line prm-icon[icon-definition="book-open"],
prm-brief-result-container .result-item-text prm-search-result-frbr-line prm-icon[icon-definition="link"],
prm-brief-result-container .result-item-text prm-search-result-frbr-line prm-icon[icon-definition="multiple-items"]
{
	display: none;
}

/* grön text */
prm-brief-result-container [class*="check_"] {
	color: orange;
}

/* röd text */
prm-brief-result-container [class*="no_"], 
prm-brief-result-container [class*="unavailable"]
{
    color: red;
}

/* dölj peer ikkonen */
.peer-reviewed-mark-icon {
	display: none;
}

prm-brief-result-container .badges,
prm-brief-result-container .peer-reviewed-mark
{
	left: 0px;
}

/* no result */
prm-no-search-result md-card-title,
prm-no-search-result md-card-content,
prm-no-search-result-after md-card-title,
prm-no-search-result-after md-card-content
{
	padding: 0  !important;
}

/* Kiosk no result */
body.kiosk prm-no-search-result>md-card {
	display: none;
}

/* Kiosk online */
body.kiosk prm-view-online>div {
	display: none;
}

/*******************
 * CUSTOM HOLDINGS *
 ******************/
 prm-opac-after {
	 font-size: 1em;
 }

 prm-opac-after {
	position:relative;
	display:block;
}

prm-opac-after>ul, prm-search-result-availability-line-after>ul {
	list-style: none;
	margin:0;
	padding:0;
}

div[ng-if="::!$ctrl.isCollectionDiscoveryCollection"] {
	display: none;
}

prm-opac-after .kthb-custom-holdings-mainLocation {
	margin: 0 0.5em 0 0;
	font-size: 1.2em;
	font-weight: bold;
}

prm-opac-after .kthb-custom-holdings-subLocation, 
prm-opac-after .kthb-custom-holdings-callNumber {
	margin: 0 0.5em;
}

.kthb-custom-holdings-available,
span[translate="delivery.code.unavailable_not_restricted"] {
	color: green !important;
}

span[translate="delivery.code.unavailable_not_restricted"] {
	font-size: 1.2em;
}

.kthb-custom-holdings-unavailable,
span[translate="delivery.code.unavailable"] {
	color: red !important;
}

.kthb-custom-holdings-check_holdings {
	color: orange
}

prm-opac-after .kthb-custom-holdings-map>a
{
	pointer-events:auto;
	font-size: 1.3em;
	min-width: 140px;
	display: inline-block;
	margin: 0;
	background-color: #1954a6;
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
	padding: 0px 25px;
	text-decoration: none;
	text-align: center;
	box-shadow: none;
	line-height: 36px;
}

prm-opac-after .kthb-custom-holdings-stacks-info,
prm-opac-after .kthb-custom-holdings-journal-info {
	color: #333 !important;
	margin-left: 1em;
	font-style: italic;
}

/*****************************************************

Facetter

******************************************************/
/* facettlistans rubriker */
.sidebar-title {
	font-weight: 400;
	color: #525252;
	align-self: center;
}

/* facett-rubriker */
.section-title-header {
	font-weight: 400;
	color: #525252;
}

/* mellanrum mellan rubriker */
.section-title {
    margin: 0px;
}
/*mellanrum facettrubrik och facetten ovan*/
prm-facet-group>div {
	margin-top: 0.5em;
}

/* Reset knapp */
.md-button.button-as-link.link-alt-color {
	color: #4aa8ea;
}

.multiselect-facet-group .md-chip .md-range-content {
	left: 4px !important;
}

.kth-facet-notsticky {
    position: relative !important;
	top: 0px !important;
}

/* texten på varje facett i listan */
.section-content .md-chips .md-chip strong {
   font-size: 1em;
   font-weight: 400 !important; 
}

/*apply filterknapp*/
.multiselect-submit .multiselect-submit-inner .md-button.md-primary, .prm-positive-bg, .multiselect-submit .multiselect-submit-inner .md-button.md-primary:focus, .multiselect-submit .multiselect-submit-inner .md-button.md-primary:hover {
    background-color: #4aa8ea;
}

/*aktiva filter*/
prm-breadcrumbs .md-chips .md-chip-content {
	padding-left: 15px;
}

prm-breadcrumbs .md-button.button-as-link {
	padding: 0;
}

/*mindre runda aktiva filterknappar*/
prm-breadcrumbs .md-chip {
    border-radius: 0.5em;
}

/*färg och font aktiva filterknappar*/
prm-breadcrumbs .md-chip {
	color: #6d6d6d;
}
prm-breadcrumbs .md-chip strong {
	font-size: 1em !important;
	font-weight: 400 !important;
}

/*Låt hänglås för facetter alltid synas*/
prm-facet prm-breadcrumbs div.md-chip-content strong {
	padding-left: 22px;
}
prm-breadcrumbs .md-chips .md-chip-content .persistence-button {
	opacity: 1;
	transform: none;
	padding-left: -2px;
}
prm-breadcrumbs .md-chip.persistent-facet strong {
	padding-left: 0;
}
prm-breadcrumbs .md-chip.persistent-facet .md-chip-content .persistence-button {
	left: -1px;
}


/*********************************

prm-back-to-search-results-button

*********************************/

/* bakgrundsfärg */
prm-back-to-search-results-button button {
	background-color: #e9e9e9 !important;
}


/*********************************

Fullpost

*********************************/

/* Bakgrundsfärg */
#full-view-container,
.full-view-inner-container {
	background-color:#fff;
}

/* Rubriker */
.full-view-section .section-title {
	font-weight: 600;
	color: #777777
}

/* Bort med luft ovanför varje avdelning */
.full-view-section {
	margin-top: 1em;
}

/* bort med luft till vänster */
.__gt-xs .full-view-section-content {
	padding-left: 0;
}

/* Färg på stäng och bläddringsknappar */

.full-view-navigation prm-icon[icon-definition="close"] md-icon {
	background-color: #ff4343;
	border-radius: 50%;
}

/* dölj vänsternavigeringsknappar */
prm-full-view .services-index-under {
	display: none;
}

/* ordning högerlistan, recommendations underst */
prm-recomendations {
	order: 3;
}

/* Anpassa "divider"/streck efter varje avdelning */
prm-service-header>div.layout-align-center-center {
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}

/* Ny rad för tillgänglig, placering, hylla
	Plus labels etc
*/
prm-location-items .tab-content-header .md-title {
    font-weight: bold;
}

prm-location-items p span {
    display: flex;
    font-size: 16px;
}

prm-location-items p span:nth-of-type(2), prm-location-items p span:nth-of-type(4) {
    display: none;
}

html[lang="sv"] prm-location-items p span:nth-of-type(3):before {
    content: "Placering: ";
    width: 10ex;
}

html[lang="sv"] prm-location-items p span:nth-of-type(5):before {
    content: "Hylla: ";
    width: 10ex;
}

html[lang="en"] prm-location-items p span:nth-of-type(3):before {
    content: "Location: ";
    width: 10ex;
}

html[lang="en"] prm-location-items p span:nth-of-type(5):before {
    content: "Shelf: ";
    width: 10ex;
}
/* anpassning efter skärmstorlekar */
@media (max-width: 1919px) and (min-width: 1600px) {
}
@media (max-width: 1599px) and (min-width: 1280px) {	
}
@media (max-width: 959px) and (min-width: 600px) {
	#full-view-container>div:nth-of-type(2) {
		padding-left: 3em;
	}
}
@media (max-width: 959px) and (min-width: 200px) {
	prm-location-items .tab-content-header{
		flex-direction: column;
	}

	#full-view-container>div:nth-of-type(2) {
		padding-left: 1.5em;
	}
}

/* Ordning och placering av avdelningar */
.full-view-container .full-view-inner-container {
	display: flex;
	flex-direction: column;
	/* IE Fix*/
	/*flex: 1 0 auto;*/
}
/* Titel */
.full-view-container #brief {
	order: 0;
}

/* Placering View It*/
.full-view-container #getit_link1_0 {
	order: 1;
}
.full-view-container #getit_link1_1 {
	order: 2;
}
.full-view-container #getit_link2_0 {
	order: 3;
}
.full-view-container #getit_link2 {
	order: 4;
	display: none; /* Dölj alltid getit_link2 */
}
/* Spara ref */
.full-view-container #action_list {
	order: 5;
}

/* Citeringar */
.full-view-container #citationTrails {
	order: 6;
}

/* KTH Metrics */
.full-view-container #kth_metrics {
	order: 7;
}

/* Länkar */
.full-view-container #links {
	order: 8;
}
/* Detaljer */
.full-view-container #details {
	order: 9;
}
/* Samma hylla*/
.full-view-container #virtualBrowse {
	order: 10;
}

/* Tags */
.full-view-container #tags {
	order: 11;
}

/* dölj tags */
#tags {
	display: none;
}

/* Dölj "länkar" till placering */
.full-view-container prm-search-result-availability-line {
	display:none; 
}

/* Bort med luft */
.search-result-availability-line-wrapper {
	min-height: 1em;
}

/* på samma hylla */
prm-virtual-browse[md-virtual-repeat] {
	width: 84px;
}

/* Kartlänk/knapp */

prm-stack-map a.md-button.button-link {
	font-size: 1.3em;
	min-width: 170px;
	display: inline-block;
	margin: 1em 0;
	background-color: #1954a6;
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
	padding: 10px 25px;
	text-decoration: none;
	text-align: center;
}

/* Full text länk/knapp */
prm-view-online a.arrow-link, 
a.item-title[ng-href*="uresolver"],
prm-alma-viewit-items a.item-title:not([ng-href*="anvanda-biblioteket"]) {
	font-size: 1.3em;
	min-width: 170px;
	display: inline-block;
	margin: 1em 0;
	background-color: #1954a6;
	border-radius: 5px;
	color: #fff;
	font-family: "Mundo Sans W01",Helvetica,sans-serif;
	font-weight: 600;
	padding: 10px 25px;
	text-decoration: none;
	text-align: center;
}

a.item-title:after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23fff' width='24' height='24' viewBox='0 0 24 24' y='504' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z'%3E%3C/path%3E%3C/svg%3E");
	padding-left: 1.2em;
	content: "";
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 100%;
}

  /* licensvillkor */
.kth_licenseterms {
	font-family: inherit;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

prm-alma-viewit prm-alma-viewit-items .in-element-dialog-context .md-button:hover:not([disabled]), prm-alma-viewit prm-alma-viewit-items .in-element-dialog-context .md-button:focus:not([disabled]) {
	background-color: transparent;
	color: #3d6e94;
	text-decoration: underline;
}

prm-alma-viewit prm-alma-viewit-items .in-element-dialog-context prm-icon[icon-definition="open-in-new"] {
	display: none;
}

.kth_blue {
	color:#1954a6
}

/* request buttons */

prm-request-services .md-button.button-as-link,
prm-service-button .md-button {
	border: 1px solid #53738c;
    padding: 12px;
    border-radius: 5px
} 

alma-howovp .md-button.neutralized-button a {
	color: inherit;
} 
alma-howovp .md-button.neutralized-button a:hover {
	box-shadow: none;
} 

alma-howovp .md-button.neutralized-button {
	border: 1px solid #53738c;
    border-radius: 5px;
	width: auto;
	color: #53738c
}

alma-howovp .md-button.neutralized-button:hover {
    background-color: #53738c;
	color: white;
}

alma-howovp prm-icon {
	display:none; 
}

alma-howovp .md-button.neutralized-button [ng-if*="service.publicNote.length"] {
	display: none;
}

prm-request-services .md-button.button-as-link prm-icon {
	display: none;
}

/*************

Helsidesview

*************/

@media (max-width: 1279px) and (min-width: 960px) {	
	prm-full-view-page md-content>div:nth-of-type(1) {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}

	prm-full-view-page md-content .full-view-inner-container {
		padding-left: 1.5em;
	}
}
@media (max-width: 959px) and (min-width: 600px) {
	prm-full-view-page md-content>div:nth-of-type(1) {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}
}
@media (max-width: 599px) and (min-width: 200px) {
	prm-full-view-page md-content>div:nth-of-type(1) {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}
}

/*************

Dialogview

*************/
prm-full-view {
	display: flex;
}

.md-dialog-container.fixed-container {
	background-color: rgb(25, 84, 166, 0.8)
}

prm-full-view>div:nth-of-type(1) {
	flex: 2;
}

prm-full-view-after.withoutrecommendations {
	background-color: #fff;
	flex: 1 1 40%;
    max-width: 40%;
	position: relative;
}

prm-full-view-after.withoutrecommendations:before {
	content: "";
    position: absolute;
    height: 100%;
    top: 0;
    width: 1px;
    left: 0;
	border-color: #d5d5d5;
    background-color: #dcdcdc;
}

/***************

Citations

****************/

/* ta bort Ex Libris egna citeringar(korrekt?) */
prm-times-cited {
	display:none;
}

.wostimesCited {
	color: tomato
}

/* Ta bort luft ovanför */
#citationTrails {
	margin-top: 0px;
}

/* Ta bort luft till vänster */
#citationTrails .full-view-section-content {
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0em;
}

/* bort med luft */
prm-citation-trails-indication {
	margin: 0 !important;
}

/* Fixa till länkarna */
prm-citation-trails-indication .md-button.button-with-icon {
	line-height: 20px;
	min-height: 20px;
	padding: 0;
	min-width: 0px;
	color: #5c92bd;
	box-shadow: inset 0 -1px 0 0 rgba(92,146,189,0);
	border-radius: 0px;
}
prm-citation-trails-indication .md-button.button-with-icon:hover {
	color: #226091!important;
	background-color: rgba(92,146,189,.1)!important;
	box-shadow: inset 0 -1px 0 0 rgba(34,96,145,.5)!important;
	
}
/* Bort med ikkonen(visa endast länktext */
prm-citation-trails-indication .md-button.button-with-icon>prm-icon {
	display: none;
}

/* anpassning efter skärmstorlekar */
@media (max-width: 959px) and (min-width: 600px) {
	#citationTrails {
		padding: 0px;
	}
}

/*************

Metrics

**************/

/* Metrics-rubriken lika som övriga */
prm-full-view-after .section-title {
	margin: 0;
	line-height: 1.2em;
	position: relative;
	padding-right: 1em;
}

/* Anpassningar till olika skärmstorlekar */
@media (max-width: 959px) and (min-width: 600px) {
	/* full view(ej dialog) */
	.__sm prm-full-view-cont .recommendations-wrapper {
		padding-left: 0em;
		background-color:#fff;
	}

	prm-full-view-after .full-view-section {
		padding: 0;
	}
}


/******************

Recommendations

******************/

/* Flex */
prm-recomendations {
	display: flex;
	flex-direction: column;
	height: 100%;
    background-color: white;
    border-left: 1px solid #c3c3c3;
}

md-dialog prm-recomendations {
	border-left: none;
}

/* Dölj beskrivningstexten */
prm-recomendations .section-description {
	display: none;
}

/* Storlek på bokomslag */
prm-recomendation-item .media-figure {
	min-width: 47px;
}
/* default bokomslag om inget hittas*/
prm-recomendation-item .media-figure img {
	border: 1px solid #bdbdbd;
	min-height: 60px;
	background-image: url('/discovery/custom/46KTH_INST-46KTH_VU1_L/img/icon_article.png');
	background-position-x: center;
	background-position-y: center;
	background-size: 47px;
	background-repeat: no-repeat;
}

/* Ordning */
.recommendations-wrapper, 
.recommendations-list, 
prm-recomendations>button {
	order: 1
}

prm-recomendations-after {
	order: 0
}

/* anpassning efter skärmstorlekar */
@media (max-width: 959px) and (min-width: 600px) {
	prm-recomendation-item {
		padding: 0;
		margin-left: 0;
		padding-left: 0;
	}

	prm-recomendations .recommendations-wrapper .section-title {
		margin-left: 0;
		padding-left: 0;
	}
}
@media (max-width: 599px) and (min-width: 200px) {
	prm-recomendation-item {
		padding: 0;
		margin-left: 0;
		padding-left: 0;
	}

	prm-recomendations .recommendations-wrapper .section-title {
		margin-left: 0;
		padding-left: 0;
	}	
}

/*********************************

Alma mashup

**********************************/


/* BETA prm-alma-mashup-after, Information om tryckt material som hämtas från Alma via API */
prm-opac-after table {
	border-spacing: 0;
	width: 100%;
}
prm-opac-after th {
	font-size: 1em;
	color: #757575;
	white-space: nowrap;
}
prm-opac-after td, prm-opac-after th {
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align:left;
	width: 20%;
}
/* varannan rad grå */
prm-opac-after tr:first-of-type {
	background-color: transparent;
}
prm-opac-after prm-icon {
	color: #8e8e8e;
}
prm-opac-after md-icon {
	height: 20px;
	width: 20px;
	min-height: 20px;
	min-width: 20px;
}

prm-login-alma-mashup-after>div {
    padding-bottom: 10px;
}

/* gör om loginknappen */
prm-login-alma-mashup-after .md-button {
    color: #5c92bd;
	padding-left: 0px;
    border: 1px solid;
    border-color: #5c92bd;
}


/*********************************

Favorites

**********************************/

/* färger på favoritikon(hjärta), grå resp blå*/
.result-item-actions .pin-button.pinned {
	color: #97abba;
}
prm-favorites .unpin-button {
	color: #4aa8ea;
}

/*********************************

My Account / Mina Sidor

**********************************/
/* Rätt tomrum/marginaler */
prm-account>md-toolbar>div>div:first-of-type,
prm-account>md-content>div:first-of-type {
	flex: 1 1 15% !important;
	max-width: 15% !important;
}

/* Bort med luft */
prm-account md-toolbar div:first-of-type {
	padding-left: 0px;
}
prm-account md-toolbar button:first-of-type {
	margin-left:0px !important;
}
prm-account md-content.padded-container {
	padding: 0px;
}

/*bort med de stora ikonerna (palmen etc) */
.giant-icon {
	display: none;
}

/* Personal Settings, dölj listan med utskick */
prm-personal-info md-card-content>div:nth-of-type(3) {
	display: none;
}

/****************************

CITATION PATH

****************************/

prm-citation-trails-breadcrumbs>md-toolbar>div>button {
	margin-left: 0px !important;
	background-color: #e9e9e9 !important;
	color: #e08303 !important;
}

prm-citation-trails-breadcrumbs md-toolbar>div {
	padding-left: 0px !important;;
}
prm-citation-trails-breadcrumbs md-toolbar>div>div, prm-citation-trails-breadcrumbs .prm-horizontal-content>div:first-of-type {
	flex: 1 1 15% !important;
    max-width: 15% !important;
}

@media (max-width: 1279px) and (min-width: 200px) {
	prm-citation-trails-breadcrumbs md-toolbar>div>div, prm-citation-trails-breadcrumbs .prm-horizontal-content>div:first-of-type {
		flex: 1 1 0% !important;
		max-width: 0% !important;
	}

	prm-citation-trails-breadcrumbs md-toolbar {
   		padding: 0px 10px 0px 10px;
	}
}

/***********************************

Settings vid facettlistan (personalize
material outside etc)

************************************/

.sidebar .personalization-section md-checkbox {
	color: #4aa8ea;
}

/**********************************

FÄRGER

*********************************/

/* strecket under inputrutor*/
md-input-container:after {
	background-color: #4aa8ea;
}

/* streck under tabrubrik med focus*/
 md-tabs md-ink-bar {
	background-color: #4aa8ea
 }

 /* checkboxar */

md-checkbox ._md-icon {
    opacity: 1;
    border-color: #4aa8ea;
	border-width: 2px;
}
md-checkbox.md-checked ._md-icon{
    background-color: #4aa8ea;
}
.sidebar .personalization-section .sidebar-list {
    color: #3a3a3a;
}

/*********************************

Generella

*********************************/

.kth-hide { 
	display: none;
}

/*********************************

ANIMATIONER

*********************************/

/* ingen ikon som "flyger" till favoriter */
.pinDummy {
	display: none;
}

/*********************************

Tooltips när inte Angulars egen 
tooltip räcker till. 

För närvarande till att visa 
open access info

TODO: Anpassa till små skärmar
*********************************/
.kthb-tooltip {
	visibility: hidden;
	transition: all .4s;
	position: absolute;
	z-index: 100;
}

.kthb-tooltip.md-panel-is-showing  {
	animation-name: tooltip;
	animation-duration: .25s;
	animation-timing-function: cubic-bezier(.25,.8,.25,1);
	visibility: visible;
}

@keyframes tooltip {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	overflow: visible;
	white-space: initial;
	top: 5px;
	color: #888888;
	fill: CURRENTCOLOR;
}

.tooltip .locationmap.tooltiptext {
	text-align: left;
	margin-left: 0px;
	color: #000000;
}

.tooltip .locationmap.tooltiptext::after {
	content: none;
}

.tooltip-top {
	bottom: 32px; /*32px*/
	left: -75px; /*-190px*/
	margin-left: -60px;
}

.tooltip .tooltiptext {
	visibility: hidden;
	position: absolute;
	width: 320px;
	background-color: #8e8e8e;
	color: #fff;
	text-align: left;
	padding: 10px 10px;
	border-radius: 8px;
	opacity: 0;
	transition: opacity 0.3s;
	z-index: 11;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%; /**/
	left: 50%;/**/
	margin-left: -23px;/*90px*/
	border-width: 8px;
	border-style: solid;
	border-color: #8e8e8e transparent transparent  transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/*************

Kundo Chat

**************/

#kundo-chat #kundo-chat-widget.kundo-chat-widget .kundo-chat-flow-selector__label {
	display:block
}

body #kundo-chat #kundo-chat-widget.kundo-chat-widget .kundo-chat-flow-selector {
	right: 200px;
}

#chat_kth_kundo .kundo-chat-widget__start-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 10000;
    min-width: 40px;
    padding: 10px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"'Segoe UI'",Roboto,"'Helvetica Neue'",Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    background-color: #000;
    background-image: none;
    border: 0;
    border-radius: 40px;
    -webkit-box-shadow: rgb(0 0 0 / 50%) 0 2px 4px;
    box-shadow: rgb(0 0 0 / 50%) 0 2px 4px;
    opacity: 1;
    -webkit-transition: color 200ms,background-color 200ms,-webkit-box-shadow 100ms;
    transition: color 200ms,background-color 200ms,-webkit-box-shadow 100ms;
    transition: color 200ms,background-color 200ms,box-shadow 100ms;
    transition: color 200ms,background-color 200ms,box-shadow 100ms,-webkit-box-shadow 100ms;
    -webkit-animation-name: kundoWidgetFadeIn;
    animation-name: kundoWidgetFadeIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    top: auto;
    left: auto;
	background-color: #d02f80;
}

@media (min-width: 768px) {
	#chat_kth_kundo .kundo-chat-widget__start-button {
		min-width: 56px;
		padding: 12px;
	}
}

@media (max-width: 959px) and (min-width: 200px) {
	#chat_kth_kundo .kundo-chat-widget__start-button {
	    bottom: 64px;
	}
}


@media screen and (max-width: 768px) {
	.table-responsive-stack tr {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
			-ms-flex-direction: row;
				flex-direction: row;
	}
	  
	  
	.table-responsive-stack td,
	.table-responsive-stack th {
		display:block;
	/*      
		flex-grow | flex-shrink | flex-basis   */
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}

	.table-responsive-stack tr {
	   -webkit-box-orient: vertical;
	   -webkit-box-direction: normal;
		   -ms-flex-direction: column;
			   flex-direction: column;
	   border-bottom: 3px solid #ccc;
	   display:block;
	   
	}
	/*  IE9 FIX   */
	.table-responsive-stack td {
	   float: left\9;
	   width:100%;
	}
}