/*********************************************

KTH-Anpassningar för Primo New UI

**********************************************

/****************************************************

Rättning för iPhone IOS 11 från Ex libris 2017-11-01

*****************************************************/
.md-dialog-container {
  height: 100% !important;
  position: fixed !important;
  top: 0px !important;
}

/*****************************************************

vit bakgrund för hela sidan 

*****************************************************/
primo-explore>div {
    background-color: #ffffff;
}

/*****************************************************

Fixa till tomrummen som finns på sidan om
Sidhuvud, sökruta och resultat

******************************************************/

/* se till att tomrummet på varje sida av sökresultat+facetter tar lika mycket plats*/
prm-search>md-content>div:nth-of-type(1), prm-search>md-content>div:nth-of-type(4) {
	flex: 1 1 15% !important;/* se till att alla sidotomrum tar upp lika mkt plats.*/
	max-width: 15% !important;
	background-color: darksalmon !important;
}

/* se till att skapa tomrummet på varje sida av sidhuvudet och att de tar lika mycket plats*/
prm-skip-to, prm-user-area-expandable {
	flex: 1 1 15% !important; /* se till att alla sidotomrum tar upp lika mkt plats.*/
	max-width: 15% !important;
	background-color: darksalmon !important;
}

/* samma sidopadding som sökrutan*/
prm-topbar {
	padding: 0 1.5em; 
}

/* anpassningar till mindre skärmar */
@media (max-width: 1279px) and (min-width: 200px) {

	prm-search>md-content>div:nth-of-type(1), prm-search>md-content>div:nth-of-type(4) {
		display: none;
	}
	
	prm-skip-to, prm-user-area-expandable {
		display: none;
	}

	prm-topbar {
		padding: 0; 
	}
}

/* se till att skapa tomrummet på varje sida av sökrutan och att de tar lika mycket plats*/
prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1),prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(4) {
	flex: 1 1 15% !important;
	max-width: 15% !important;
	background-color: darksalmon;
}

/* se till div för sökrutan tar rätt utrymme*/
prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2) {
	flex: 1 !important;
	max-width: 1180px !important;
}

/* se till div för advanced search-knappen tar rätt utrymme*/
prm-search-bar>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(3) {
	flex: 1 !important;
	max-width: 110px !important;
	padding-left: 10px !important;
}

/*****************************************************

Sidhuvudet, logga + egen meny

******************************************************/

/* eget litet minisidhuvud med användarnamn och språkbyte */
prm-top-bar-before {
	display: flex;
}

/* Rätt höjd */
prm-topbar {
	height: unset;
}
/* vit bakgrund, padding*/
prm-topbar .top-nav-bar {
	background-color: #ffffff;
	height: 60px; 
}

/* anpassningar till mindre skärmar */
@media (max-width: 1279px) and (min-width: 200px) {
	prm-topbar .top-nav-bar {
		padding: 1em;
	}
}

/* dölj de divs som upptar mellanrum i sidhuvudet */
prm-topbar>div:nth-of-type(1)>div:nth-of-type(1),prm-topbar>div:nth-of-type(1)>div:nth-of-type(2) {
	display: none;
}

/* Dölj ExLibris Meny */
prm-main-menu {
	display: none;
}

/* se till att logga plus text tar upp flexutrymme och att loggan hamnar centrerat i höjd */
prm-topbar prm-logo {
	flex: 1 1 27%;
	max-width: 27%;
	display: flex;
	align-items: center;
}

/* se till vår egen meny tar upp rätt utrymme */
prm-search-bookmark-filter {
	flex: 1 1 43% !important;
	max-width: 43% !important;
	margin: 0;
}

/* anpassningar till mindre skärmar */
@media (max-width: 1279px) and (min-width: 200px) {
	
	prm-topbar prm-logo {
		flex: 1 1 40%;
		max-width: 40%;
	}

	prm-search-bookmark-filter {
		flex: 1 1 60% !important;
		max-width: 60% !important;
	}
}

/* sätt loggans höjd/storlek */
prm-logo .product-logo {
    padding: 0px;
    height: 40px;
}

/* placera rubriken "KTH Biblioteket" rätt och sätt fontstorlek */
prm-topbar prm-logo-after {
	top: 8px;
    position: relative;
    padding-left: 10px;
	font-size: 2em;
}

/* fixa länkar */
prm-logo a, prm-logo prm-logo-after a {
	color: #525252 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}


/*****************************************************

Sökrutan

******************************************************/
/* KTH-blå bakgrund */
prm-search-bar  {
	background-color: #1954a6;
}


/*****************************************************

Advanced search-knappen

******************************************************/

prm-search-bar .search-switch-buttons {
	padding-top: 0px;
}

prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
	line-height: 60px;
	background-color: rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
    color: #1954a6;
    line-height: 20px;
    white-space: pre-wrap;
    width: 100px;
    max-height: 60px;	
}

/*****************************************************

Egen Meny

******************************************************/

/* dölj logga in*/

prm-user-area-expandable .md-button, prm-user-area-expandable md-menu {
	display: none;
}

/* dölj favoriter och sökhistorik*/
prm-search-bookmark-filter>div:nth-of-type(1),prm-search-bookmark-filter>a:nth-of-type(1) {
	display: none;
}

/* se till att knapparna får rätt storlek och färger */
prm-search-bookmark-filter-after .md-button {
	line-height: 24px;
	background-color: #ffffff;
	text-transform: uppercase;
	color: #1954a6 !important;
	display: flex;
	flex-direction: column;
	padding: 10px 0px;
}

/* storlek/höjd på knappikoner */
prm-search-bookmark-filter-after md-icon, prm-search-bookmark-filter-after prm-icon {
	margin: 0;
	height: 24px;
}

/* höjd på text under menyikoner */
prm-search-bookmark-filter-after span {
	line-height: 100%;
}

/* fixa länkar */
prm-search-bookmark-filter-after a {
	box-shadow: none !important;
}

/*****************************************************

Alert bar

******************************************************/
/* samma sidopadding som övriga*/ 
prm-alert-bar>div {
	padding: 0 1.5em;
	background-color: #fff8c4 !important;
}

/* skapa tomrummet på sidorna */
prm-alert-bar .bar {
	padding: 0.5em 15%;
	justify-content: flex-start;
	background-color: #fff8c4 !important;
	border: none !important;
}

/*****************************************************

Egna facetter ovanför sökresultat

******************************************************/
/* gör om till flex och omvänd ordning*/
prm-search-result-list {
	display: flex;
	flex-direction: column-reverse;
}

prm-search-result-list-after {
    background-color: #ffffff;
    padding-bottom: 10px;
    padding-left: 7px;
}

#facettmenudiv {
    display: flex;
    background-color: transparent;
    padding: .5em .75em;
    padding: 0;
}

#facettmenu {
    margin: 0;
    padding: 2px 0px;
}

#facettmenu li {
    display: inline;
}

#facettmenu a {
    font-weight: normal;
    color: #24A0D8;
}

#facettmenu span {
    font-size: 0.9em;
    font-style: italic;
}

/* sidnummers placering */
prm-search-result-list .pages-separated-with-gaps .list-item-wrapper.first-in-page:first-of-type .md-subheader ._md-subheader-inner {
	top: -27px;
}

/* antal sökträffars placering */
prm-search-result-list .results-title {
    top: 0px;
}

/* dölj personalized result switch */

prm-search-result-list prm-personalize-results-button {
	display: none;
}

/*****************************************************

Resultat/Content

******************************************************/
/* Endast tillagd för att tomrummen på sidan om resultatet ska "synas" vid utveckling av layout*/
md-content {
	align-items: stretch !important;
}